
app/.idea/workspace.xml
.project
.settings/org.eclipse.buildship.core.prefs
/.idea/shelf/Uncommitted_changes_before_Update_at_17_11_2021_7_56_p__m__[Default_Changelist]/buildOutputCleanup.lock
/.idea/shelf/Uncommitted_changes_before_Update_at_17_11_2021_7_56_p__m__[Default_Changelist]/buildOutputCleanup.lock
/.idea/shelf/Uncommitted_changes_before_Update_at_17_11_2021_7_56_p__m__[Default_Changelist]/buildOutputCleanup.lock
/.idea/shelf/Uncommitted_changes_before_Update_at_17_11_2021_7_56_p__m__[Default_Changelist]/buildOutputCleanup.lock
/.idea/shelf/Uncommitted_changes_before_Update_at_17_11_2021_7_56_p__m__[Default_Changelist]/buildOutputCleanup.lock
/.idea/shelf/Uncommitted_changes_before_Update_at_17_11_2021_7_56_p__m__[Default_Changelist]/buildOutputCleanup.lock
/.idea/shelf/Uncommitted_changes_before_Update_at_17_11_2021_7_56_p__m__[Default_Changelist]/buildOutputCleanup.lock
/.idea/shelf/Uncommitted_changes_before_Update_at_17_11_2021_7_56_p__m__[Default_Changelist]/buildOutputCleanup.lock
/.idea/shelf/Uncommitted_changes_before_Update_at_17_11_2021_7_56_p__m__[Default_Changelist]/classAnalysis.bin
/.idea/shelf/Uncommitted_changes_before_Update_at_17_11_2021_7_56_p__m__[Default_Changelist]/executionHistory.bin
/.idea/shelf/Uncommitted_changes_before_Update_at_17_11_2021_7_56_p__m__[Default_Changelist]/executionHistory.lock
/.idea/shelf/Uncommitted_changes_before_Update_at_17_11_2021_7_56_p__m__[Default_Changelist]/fileHashes.bin
/.idea/shelf/Uncommitted_changes_before_Update_at_17_11_2021_7_56_p__m__[Default_Changelist]/fileHashes.lock
/.idea/shelf/Uncommitted_changes_before_Update_at_17_11_2021_7_56_p__m__[Default_Changelist]/jarAnalysis.bin
/.idea/shelf/Uncommitted_changes_before_Update_at_17_11_2021_7_56_p__m__[Default_Changelist]/javaCompile.lock
/.idea/shelf/Uncommitted_changes_before_Update_at_17_11_2021_7_56_p__m__[Default_Changelist]/outputFiles.bin
/.idea/shelf/Uncommitted_changes_before_Update_at_17_11_2021_7_56_p__m__[Default_Changelist]/resourceHashesCache.bin
/.idea/shelf/Uncommitted_changes_before_Update_at_17_11_2021_7_56_p__m__[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_17_11_2021_7_56_p__m__[Default_Changelist]/taskHistory.bin
/.idea/shelf/Uncommitted_changes_before_Update_at_17_11_2021_7_56_p__m__[Default_Changelist]/jarAnalysis.bin
